*
!zellij
!zellij/*
!waybar
!waybar/*
!.gitignore
!fish/config.fish
!sway
!sway/*
!nvim
!nvim/*
!nvim/lua/
!nvim/lua/*
!kitty/*
!neofetch
!neofetch/*
!hypr/
!hypr/*
!typst_template
!initialise_typst
!cool_swaylock
!message_of_the_day
!backup_password
!backup_to_nas
!backup_to_nas_revamped
!clean_dev
!check_and_backup_nas
!launch_docker_language_tool
!wofi/*
!wofi/
!kitty/*
!kitty/
!alacritty.toml
