*
!report
!reporter
!.tmux
!.tmux/*
!zellij
!zellij/*
!waybar
!waybar/*
!.gitignore
!fish/config.fish
!i3blocks/config
!sway
!sway/*
!i3blocks/i3blocks.conf
!nvim
!nvim/*
!nvim/lua/
!nvim/lua/*
!kitty/*
!neofetch
!neofetch/*
!typst_template
!initialise_typst
!showbatt
!cool_swaylock
!message_of_the_day
!backup_password
!backup_to_nas
!clean_dev
