*
!fish/*
!fish/
!fish/functions/fzf-browse.fish
!fish/functions/fzf-pass.fish
!fish/functions/sshf.fish
!fish/functions/
!niri/
!niri/*
!typst_templates/
!typst_templates/*
!backup_password
!backup_to_restic
!clean_dev
!starship.toml
!helix/*
!helix/
!aerc/
!alacritty/
!alacritty/*
!alacritty/alacritty.toml
!aerc/stylesets
!aerc/aerc.conf
!aerc/binds.conf
!harper-ls/
!harper-ls/*
!vdirsyncer/
!vdirsyncer/config.template
