hotkey-overlay {
    skip-at-startup
}

workspace "first"
workspace "second"
workspace "third"
workspace "fourth"
workspace "fifth"
workspace "scratch"
workspace "keepassxc"
input {
    keyboard {
        xkb {
            layout "fr"
        }
    }

    touchpad {
        tap
        drag-lock
        scroll-method "two-finger"
    }

    mouse {
        // off
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "no-scroll"
    }

    trackpoint {
        // off
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "on-button-down"
        // scroll-button 273
        // middle-emulation
    }
}


output "eDP-1" {
    mode "2880x1920@120"

    // You can use integer or fractional scale, for example use 1.5 for 150% scale.
    scale 2

    transform "normal"

    position x=0 y=0
}

layout {
    gaps 16
    background-color "transparent"
    center-focused-column "on-overflow"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }
    focus-ring {
        width 4
        active-gradient from="#f7a8d8" to="#55cdfc" angle=45
        inactive-gradient from="#EF7627" to="#A30262" angle=45 relative-to="workspace-view"
    }

    border {
        off
        width 4
    }

    shadow {
        // Uncomment the next line to enable shadows.
        // on

        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }

    struts {
        // left 64
        // right 64
        // top 64
        // bottom 64
    }
}

spawn-at-startup "qs" "-c" "noctalia-shell"
spawn-at-startup "swayosd-server"
spawn-at-startup "nm-applet" "&"
spawn-at-startup "syncthing"
spawn-at-startup "/opt/piavpn/bin/pia-client" "--quiet"
spawn-at-startup "zen-browser" "--name" "first"
spawn-at-startup "flatpak" "run" "org.localsend.localsend_app" "--hidden"
spawn-at-startup "vesktop" "--ozone-platform=wayland" "--class" "second"
spawn-at-startup "keepassxc" "-platform" "xcb"
spawn-at-startup "alacritty" "--class" "fourth"
spawn-at-startup "alacritty" "--class" "third" "-e" "fish" "-c" "aerc"
spawn-at-startup "gajim"

environment {
    DISPLAY ":0"
    GTK_IM_MODULE "simple"
}

prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

animations {
    // Uncomment to turn off all animations.
    // off
}

window-rule {
  geometry-corner-radius 20
  clip-to-geometry true
}

debug {
  honor-xdg-activation-with-invalid-serial
}

window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

window-rule {
    match app-id="first"
    open-maximized true
    open-on-workspace "first"

    background-effect {
        blur true
    }
}

window-rule {
    match app-id="vesktop"
    open-maximized true
    open-on-workspace "second"
}

window-rule {
    match app-id="third"
    open-maximized true
    open-on-workspace "third"

    background-effect {
        blur true
    }
}

window-rule {
    match app-id="fourth"
    open-maximized true
    open-on-workspace "fourth"

    background-effect {
        blur true
    }
}

window-rule {
    match app-id="^Alacritty$"

    background-effect {
        blur true
    }
}

window-rule {
    match app-id="^nheko$"

    background-effect {
        blur true
    }

    open-on-workspace "fifth"
}

layer-rule {
    match namespace="^launcher$"

    background-effect {
        blur true
    }
}

layer-rule {
  match namespace="^noctalia-wallpaper*"
  place-within-backdrop true
}

overview {
  workspace-shadow {
    off
  }
}

window-rule {
    match app-id="scratch"
    open-on-workspace "scratch"
}

window-rule {
    match app-id="floating"
    open-floating true

    background-effect {
        blur true
    }
}

window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"# title="^KeePassXC - Browser Access Request$"
    match app-id=r#"^org\.keepassxc\.KeePassXC$"# title="^Unlock Database - KeePassXC$"

    open-focused true
}

window-rule {
    match app-id=r#"first$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    block-out-from "screen-capture"
}

window-rule {
    match app-id=r"gajim"
    open-on-workspace "fifth"
    open-maximized true
}

window-rule {
    match app-id=r#"pavucontrol$"#
    open-floating true
}

window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}

window-rule {
    match is-active=false
    opacity 0.85
    draw-border-with-background true
}

window-rule {
    match is-active=true
    opacity 0.85
    draw-border-with-background false
}

window-rule {
    match app-id=r"gimp"
    opacity 1.0
    draw-border-with-background false
}

binds {
    Mod+Shift+Slash { show-hotkey-overlay; }
    Mod+Space { spawn-sh "qs -c noctalia-shell ipc call controlCenter toggle"; }
    Mod+S { spawn-sh "qs -c noctalia-shell ipc call settings toggle"; }
    Mod+Return { spawn "alacritty"; }
    Mod+Ctrl+S { focus-workspace "keepassxc"; }
    
    Mod+K { spawn-sh "qs -c noctalia-shell ipc call launcher toggle"; }
    Mod+D { spawn-sh "qs -c noctalia-shell ipc call launcher toggle"; }
    Mod+P { spawn "alacritty" "--class" "floating" "-e" "fish" "-i" "-c" "fzf-pass"; }
    Mod+Shift+Y { spawn "alacritty" "--class" "floating" "-e" "fish" "-i" "-c" "fzf-browse";}
    Mod+Y { spawn-sh "qs -c noctalia-shell ipc call launcher windows"; }
    Mod+Shift+O { spawn "alacritty" "--class" "floating" "-e" "fish" "-i" "-c" "calcure"; }
    Mod+Shift+Return { spawn "alacritty" "--class" "floating"; }
    Mod+Shift+N { spawn "sway-screenshot" "-m" "region" "--clipboard-only"; }
    Super+Shift+L { spawn-sh "qs -c noctalia-shell ipc call lockScreen lock"; }
    
    XF86AudioRaiseVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.05+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.05-"; }
    XF86AudioMute        allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }

    XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "s" "5%+"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "s" "5%-"; }

    Mod+C { close-window; }

    Mod+Left  { focus-column-left; }
    Mod+Down  { focus-window-down; }
    Mod+Up    { focus-window-up; }
    Mod+Right { focus-column-right; }

    Mod+Ctrl+Left  { move-column-left; }
    Mod+Ctrl+Down  { move-window-down; }
    Mod+Ctrl+Up    { move-window-up; }
    Mod+Ctrl+Right { move-column-right; }
    Mod+E {spawn "nautilus";}
    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+End  { move-column-to-last; }

    Mod+Shift+Right  { set-column-width "+10%"; }
    Mod+Shift+Left  { set-column-width "-10%"; }
    Mod+Shift+Up    { set-window-height "+10%"; }
    Mod+Shift+Down { set-window-height "-10%"; }
    Mod+Shift+H     { focus-monitor-left; }
    Mod+Shift+J     { focus-monitor-down; }
    Mod+Shift+K     { focus-monitor-up; }
    Mod+Shift+L     { focus-monitor-right; }

    Mod+Shift+Ctrl+Left  { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+Down  { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+Up    { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }
    Mod+Shift+Ctrl+H     { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+J     { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+K     { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+L     { move-column-to-monitor-right; }

    Mod+Page_Down      { focus-workspace-down; }
    Mod+Page_Up        { focus-workspace-up; }
    Mod+U              { focus-workspace-down; }
    Mod+I              { focus-workspace-up; }
    Mod+Ctrl+Page_Down { move-column-to-workspace-down; }
    Mod+Ctrl+Page_Up   { move-column-to-workspace-up; }
    Mod+Ctrl+U         { move-column-to-workspace-down; }
    Mod+Ctrl+I         { move-column-to-workspace-up; }

    Mod+Shift+Page_Up   { move-workspace-up; }
    Mod+Shift+U         { move-workspace-down; }
    Mod+Shift+I         { move-workspace-up; }

    Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

    Mod+WheelScrollRight      { focus-column-right; }
    Mod+WheelScrollLeft       { focus-column-left; }
    Mod+Ctrl+WheelScrollRight { move-column-right; }
    Mod+Ctrl+WheelScrollLeft  { move-column-left; }

    Mod+Shift+WheelScrollDown      { focus-column-right; }
    Mod+Shift+WheelScrollUp        { focus-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

    Mod+ampersand { focus-workspace "first"; }
    Mod+Eacute { focus-workspace "second"; }
    Mod+quotedbl { focus-workspace "third"; }

    Mod+apostrophe { focus-workspace "fourth"; }
    Mod+parenleft { focus-workspace "fifth"; }
    Mod+minus { focus-workspace "scratch"; }
    Mod+underscore { focus-workspace "keepassxc"; }
    Mod+ccedilla { focus-workspace 9; }
    Mod+Shift+ampersand { move-column-to-workspace "first"; }
    Mod+Shift+Eacute { move-column-to-workspace "second"; }
    Mod+Shift+quotedbl { move-column-to-workspace "third"; }
    Mod+Shift+apostrophe { move-column-to-workspace "fourth"; }
    Mod+Shift+parenleft { move-column-to-workspace "fifth"; }
    Mod+Shift+minus { move-column-to-workspace "scratch"; }
    Mod+Shift+underscore { move-column-to-workspace "keepassxc"; }
    Mod+Shift+ccedilla { move-column-to-workspace 9; }
    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    Mod+T  { consume-window-into-column; }
    Mod+Shift+T{ expel-window-from-column; }

    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }

    Mod+Ctrl+F { expand-column-to-available-width; }

    Mod+Q { center-column; }

    Mod+V       { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }

    Mod+W { toggle-column-tabbed-display; }

    Ctrl+K { screenshot; }
    Home { screenshot-screen; }
    Mod+Alt+S { screenshot-window; }

    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    Mod+Shift+M { quit; }
    Ctrl+Alt+Delete { quit; }

    Mod+Shift+P { power-off-monitors; }
}
